{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks - Reset Password
{% endblock %}

{% block body %}
    <h1 class="text-center">Reset Password</h1>
    <div class="container border rounded mt-4 p-4" style="max-width: 600px;">

        <div class="form-group mt-3 text-center">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}