{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks - Home
{% endblock %}

{% block body %}
    <div class="card position-relative mb-3">
        <img src="{{ asset('img/mountain.jpg') }}" class="card-img" alt="mountain">
        <div class="card-img-overlay" style="color: white;text-shadow: 2px 2px 2px black;">
            <h1 class="card-title">Welcome in SnowTricks !</h1>
            <a href="#tricks" class="position-absolute" style="bottom: 25px; right: 25px; font-size: 3em">
                <i class="fa-solid fa-arrow-down"></i>
            </a>
        </div>
    </div>

    <div id="tricks" class="d-flex flex-wrap justify-content-around">
        {% for trick in tricks %}
            <div class="card my-2" style="width: 18rem;">
                <img src="{{ asset('img/mountain.jpg') }}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('trick_details', {'slug': trick.slug}) }}" class="btn btn-primary">
                            {{ trick.name|capitalize }}
                        </a>
                        <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>
        <button id="loadMoreTricks" class="btn btn-primary">
            Load More
        </button>
    <div>

    </div>


    <div class="position-relative" style="height: 70px;">
        <a href="#tricks" class="position-absolute" style="right: 0px; font-size: 3em">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>

{% endblock %}