<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block nav %}
                <nav class="navbar navbar-expand d-none d-sm-inline">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <img src="{{ asset('img/snowboard.jpg') }}" alt="logo" width="100">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/trick/create">Tricks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/signin">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}

            {% block body %}{% endblock %}
            
            {% block footer %}
                <footer>
                    Copyright &copy; GN4RK {{ 'now' | date('Y') }}
                </footer>
            {% endblock %}

            {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
        </div>
    </body>
</html>
